<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>关于_苏树壮个人博客 - 一个站在web前端设计之路的技术员个人博客网站</title>
<meta name="keywords" content="个人博客,苏树壮个人博客,个人博客模板,苏树壮" />
<meta name="description" content="苏树壮个人博客，是一个站在web前端设计之路的程序员个人网站" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/base.css" rel="stylesheet">
<link href="css/index.css" rel="stylesheet">
<link href="css/m.css" rel="stylesheet">
<!--[if lt IE 9]>
  <script src="js/modernizr.js"></script>
  <![endif]-->
<script>
window.onload = function ()
{
	var oH2 = document.getElementsByTagName("h2")[0];
	var oUl = document.getElementsByTagName("ul")[0];
	oH2.onclick = function ()
	{
		var style = oUl.style;
		style.display = style.display == "block" ? "none" : "block";
		oH2.className = style.display == "block" ? "open" : ""
	}
}
</script>
</head>
<body>
<header>
  <div class="tophead">
    <div class="logo"><a href="/">苏树壮个人博客</a></div>
    <div id="mnav">
      <h2><span class="navicon"></span></h2>
      <ul>
        <li><a href="index.html">网站首页</a></li>
        <li><a href="about.html">关于我</a></li>
        <li><a href="#">朋友分享</a></li>
        <li><a href="#">我的工作</a></li>
        <li><a href="#">添加分享</a></li>
        <li><a href="#">留言</a></li>
      </ul>
    </div>
    <nav class="topnav" id="topnav">
      <ul>
        <li><a href="index.html">网站首页</a></li>
        <li><a href="about.html">关于我</a></li>
        <li><a href="#">朋友分享</a></li>
        <li><a href="#">我的工作</a></li>
        <li><a href="#">添加分享</a></li>
        <li><a href="#">留言</a></li>
      </ul>
    </nav>
  </div>
</header>
<article>
  <h1 class="t_nav"><span>像“草根”一样，紧贴着地面，低调的存在，冬去春来，枯荣无恙。</span><a href="/" class="n1">网站首页</a><a href="/" class="n2">关于我</a></h1>
  <div class="ab_box">
    <div class="leftbox">
      <div class="newsview">
        <div class="news_infos">
          <p>苏树壮，一个90后临近毕业的应届毕业生！15年入学。主修软件工程，一直潜心研究web技术。<br />
          <br />
            Thank you for view  this website about my blogs.

            <br> <br>
            My Chinese name is Shuzhuang  Su and you can call me Su which is my English name . I’m from  Heze ,a city in Shandong province. But I want to stay in Qingdao to find a suitable life for myself.

            <br> <br>
            I worked as a Junior Software Engineer in Northwest Minzu University ,and I have about 1 year work experience. My major work was Java Web development based on spring, springMVC and mybatis framework. I also did some other things like writing test cases, doing detailed designs and so on.I think I'm a good team player in project teams.

            <br> <br>
            I was good at maths and i was really into learning new things so it was an easy decision to major in College of mathematics and computer science  at Northwest Minzu University . I spent most of my time on study in college. I have acquired basic knowledge of my major and gained a good academic performance.

            <br> <br>
            I am eager to get an opportunity to fully play my ability,my computer skills and English skills.
             <br />
          <h2>About my blog</h2>
          &nbsp;
          <p>域 名：www.sushuzhuang.com 创建于2018年07月28日&nbsp;</p>
          <br />
          <p>服务器：腾讯云服务器&nbsp;&nbsp;<a href="https://cloud.tencent.com/" target="_blank"><span style="color:#FF0000;"><strong>前往腾讯云官网购买&gt;&gt;</strong></span></a></p>
          <br />
          <p>备案号：鲁ICP备11002373号-1</p>
          <br />
          <p>地址：山东省青岛市崂山区</p>
        </div>
      </div>
    </div>
    <div class="rightbox">
      <div class="aboutme">
        <h2 class="hometitle">关于我</h2>
        <div class="avatar"> <img src="images/avatar.jpg"> </div>
        <div class="ab_con">
          <p>网名：dancesmile | 苏树壮</p>
          <p>职业：Web前端设计、网页设计 </p>
          <p>个人微信：ss101497</p>
          <p>邮箱：1434545037@qq.com</p>
        </div>
      </div>
      <div class="weixin">
        <h2 class="hometitle">微信关注</h2>
        <ul>
          <img src="images/wx.jpg">
        </ul>
      </div>
    </div>
  </div>
</article>
<footer>
  <p>Design by <a href="/">苏树壮个人博客</a> <a href="/">鲁ICP备11002373号-1</a></p>
</footer>
<script src="js/nav.js"></script>
</body>
</html>
