<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
</head>
<body>
<button id="edit" class="btn btn-primary" onclick="edit()" type="button">编辑</button>
<button id="preview" class="btn btn-primary" onclick="preview()" type="button">预览</button>
<div class="page-container index-section-1">
    <div id="blogsTitle">
        <input placeholder="请输入标题" id="blogsTitle-input" name="title" class="title">
    </div>
</div>

<script>
    var edit = function () {
        $('#blogsTitle').show();

    };
    var preview = function () {
        var title = $("input#blogsTitle-input").val()
        $('#blogsTitle').hide();
        $('#blogsTitle').html(title)
    };
</script>
</body>
</html>